.navbar {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', Arial, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1200px;
}

.navbar-left .logo {
    width: 125px;
    height: auto;
}

.navbar-center {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
    margin-left: 20px;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: #333;
    border: 1px solid #bbb;
    border-radius: 5px;
    overflow: hidden;
    height: 35px;
    flex-grow: 1;
    margin-right: 20px;
    max-width: 600px;
}

.search-container form {
    display: flex;
    flex-grow: 1;
    align-items: center;
    width: 100%;
    margin: 0;
}

.search-input {
    border: none;
    padding: 5px 10px;
    flex: 1;
    font-size: 14px;
    outline: none;
    background-color: transparent;
    color: white;
}

.search-input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.search-button {
    background: none;
    border: none;
    padding: 0 10px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

.search-button i {
    font-size: 18px;
}

.category-button {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    position: relative;
}

.divider {
    color: #bbb;
}

.dropdown-desktop-only {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    font-size: 13px;
    top: 100%;
    background-color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 4px;
    z-index: 100;
}

.dropdown-desktop-only:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    text-decoration: none;
    color: white;
    padding: 5px 0;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.action-button-desktop-only {
    background-color: #333;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.action-button:hover {
    background: white;
    color: black;
}

.navbar-right-desktop-only {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 40px;
}

.auth-button {
    background: none;
    border: 1px solid white;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.auth-button:hover {
    background: white;
    color: black;
}

.navbar-right-mobile-only, .mobile-menu {
    display: none;
}

@media (max-width: 768px) {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        max-width: 1200px;
        padding: 0;
        box-sizing: border-box;
        margin-right: 4%;
        margin-left: 2%;
    }

    .navbar-right-desktop-only,
    .dropdown-desktop-only,
    .divider-desktop-only,
    .action-button-desktop-only {
        display: none;
    }

    .navbar-right-mobile-only {
        display: flex;
    }

    .mobile-menu {
        display: none;
        position: fixed;
        top: 70px;
        left: 0;
        width: 100%;
        height: calc(100% - 70px);
        background-color: rgba(0, 0, 0, 0.9);
        color: white;
        flex-direction: column;
        padding: 20px;
        box-sizing: border-box;
        z-index: 1000;
    }

    .mobile-menu.open {
        display: flex;
    }

    .navbar-center {
        margin-left: 10px;
    }

    .search-container {
        margin-right: 10px;
    }

    .menu-button {
        background-color: #333;
        color: white;
        border: none;
        padding: 0;
        border-radius: 5px;
        font-size: 30px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-bottom: 20%;
    }

    .category-list {
        display: none;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .menu-list {
        font-size: 18px;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .menu-list > li {
        margin: 15px 0;
        font-size: 18px;
        line-height: 1.5;
        font-weight: bold;
    }

    .menu-list a {
        text-decoration: none;
        color: white;
        display: block;
        padding: 10px 0;
    }

    .menu-item {
        padding: 0;
    }

    .menu-category-button {
        background: none;
        border: none;
        font-size: 18px;
        color: white;
        cursor: pointer;
        padding: 10px 0;
        font-weight: bold;
    }

    .menu-category-button, .menu-list a {
        outline: none;
    }

    .menu-category-button:active, .menu-list a:active {
        background: none;
        color: inherit;
    }
}